*{
    margin: 0;
    padding: 0;
}
.container{
    width: 98vw;
    height: 98vh;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgb(40, 40, 65);
}
.content{
    width: 90%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    grid-template-rows: repeat(2,1fr);
    gap: 20px;
    grid-template-areas:
     "one two three four"
    "one five six seven"
    ;
    color: white;
}
body{
    background: rgb(3, 3, 46);
}
.one{
    grid-area: one;
    border-radius: 10px;
    background:rgb(29, 32, 74);
}
.profile{
    padding: 20px;
    border-radius: 10px;
    background:rgb(86, 70, 232);
}
.profile .img1{
    border-radius: 20%;
}
.two{
    grid-area: two;
    background-color:  rgb(11, 11, 43);
    border-radius: 10px;
}
.two .lead-img{
    background:rgb(252, 138, 99);
    border-radius: 10px;
}
.three{
    grid-area: three;
    background-color:  rgb(11, 11, 43);
    border-radius: 10px;
}
.three .lead-img{
    background:#55C0E3;
    border-radius: 10px;
}
.four{
    grid-area: four;
    background-color:  rgb(11, 11, 43);
    border-radius: 10px;
}
.four .lead-img{
    background:rgb(252, 93, 124);
    border-radius: 10px;
}
.five{
    grid-area: five;
    background-color:  rgb(11, 11, 43);
    border-radius: 10px;
}
.five .lead-img{
    background:rgb(74, 205, 129);
    border-radius: 10px;
}
.six{
    grid-area: six;
    background-color:  rgb(11, 11, 43);
    border-radius: 10px;
}
.six .lead-img{
    
	background:rgb(113, 53, 207);
    border-radius: 10px;
}
.seven{
    grid-area: seven;
    background-color:  rgb(11, 11, 43);
    border-radius: 10px;
}
.seven .lead-img{
    background:rgb(239, 197, 90);
    border-radius: 10px;
}
.combine{
    background: rgb(11, 11, 43);
    border-radius: 10px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
image{
    border-radius: 10%;
}
.lead-img{
    display: flex;
    justify-content: end;
    height: 30%;
}
.content-sec{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: stretch;
    padding: 20px;
}
.content-bottom{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
    margin: 30px;
}